@font-face {
  font-family: 'Broken Glass';
  src: url('/font/broken-glass/BrokenGlass.woff2') format('woff2'),
      url('/font/broken-glass/BrokenGlass.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Before Collapse';
  src: url('/font/before-collapse/BeforeCollapse.woff2') format('woff2'),
      url('/font/before-collapse/BeforeCollapse.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

